.workspace {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  height: 100%;
}

.workspace__content {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.workspace__player {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
